extends layout 
block content
  h1.border.center Advanced Node and Express
  h2.center Socket.IO Chat Room
  .chat.center
    p#num-users
    .chat-box
      ul#messages
      form#form(action='')
        input#m(autocomplete='off')
        button Send
    a#logout(href='/logout') Logout
