extends layout
block content
  .section
    .container
      .row.full-height.justify-content-center
        .col-12.text-center.align-self-center.py-5
          .section.pb-5.pt-5.pt-sm-2.text-center
            h6.mb-0.pb-3
              span Log In 
              span Sign Up
            input#reg-log.checkbox(type='checkbox' name='reg-log')
            label(for='reg-log')
            if signedUp 
              .successReg.alert.alert-success Please log in now
            .card-3d-wrap.mt-3.mx-auto
              .card-3d-wrapper
                .card-front
                  .center-wrap
                    form(action='/login', method="post").section.text-center
                      h4.mb-4.pb-3 Log In
                      .form-group
                        input#username.form-style(type='text' name='username' placeholder='Your username' autocomplete='off')
                        i.input-icon.uil.uil-at
                      .form-group.mt-2
                        input#password.form-style(type='password' name='password' placeholder='Your Password' autocomplete='off')
                        i.input-icon.uil.uil-lock-alt
                      button(type='submit').btn.mt-4 submit
                      p.mb-0.mt-4.text-center
                        a.link(href='#0') Forgot your password?
                .card-back
                  .center-wrap
                    form(action="/register", method="post").section.text-center
                      h4.mb-4.pb-3 Sign Up
                      //- .form-group
                      //-   input#logname.form-style(type='text' name='logname' placeholder='Your Full Name' autocomplete='off')
                      //-   i.input-icon.uil.uil-user
                      .form-group.mt-2
                        input.username.form-style(type='text' name='username' placeholder='Your Email' autocomplete='off')
                        i.input-icon.uil.uil-at
                      .form-group.mt-2
                        input.password.form-style(type='password' name='password' placeholder='Your Password' autocomplete='off')
                        i.input-icon.uil.uil-lock-alt
                      button(type="submit").btn.mt-4 Submit
            if showSocialAuth
              hr
              h2.center Social Login
              .login.center
                a(href='/auth/github').text Login with Github!