<div class="container mt-5">
    <div class="row form-wrapper border border-dark border-opacity-25 rounded-2 col col-md-9 col-xl-6 m-auto">
      <h2 class="h2 text-center">LOG IN</h2>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        novalidate
        class="  needs-validation"
      >
        <mat-form-field class="w-100 mb-2">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Ex. name@example.com"
            formControlName="email"
            id="emailformControl"
          />
        </mat-form-field>
  
        <mat-form-field class="w-100 mb-4">
          <mat-label for="passwordformControl">Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            id="passwordformControl"
          />
        </mat-form-field>
        
        <button
          id="loginButton"
          type="submit"
          class="form-control"
          mat-raised-button
          color="primary"
        >
          Log in
          <!-- <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> -->
        </button>
        <div class="mt-2">
          Don't have an account yet? <a routerLink="/signup">Sign up</a>
        </div>
      </form>
    </div>
  </div>
  