<!-- <mat-toolbar color="primary" class="app-header navbar navbar-expand-lg sticky-top">
  <div class="container-fluid d-flex justify-content-between">
    <fa-icon [icon]="home" class="btn navbar-brand" routerLink="/"
      >Navbar</fa-icon
    >
    <div class="" id="navbarSupportedContent">
      <span span class="nav-tool-items" *ngIf="!isLoggedIn; else logout">
        <a mat-button routerLink="/login" routerLinkActive="active" class="login btn btn-outline-light mx-2">Log in</a>
        <a mat-button mat-raised-button routerLink="/signup" routerLinkActive="active" class="signup btn btn-outline-light mx-2">Sign up</a>
      </span>
       -->
<!-- <div class="d-flex" *ngIf="!isLoggedIn; else logout">
        <button
          routerLink="/login"
          class="login btn btn-outline-light mx-2"
          type="submit"
        >
          Login
        </button>
        <button
          routerLink="/signup"
          class="signup btn btn-outline-light"
          type="submit"
        >
          Sign up
        </button>
      </div> -->

<!-- <ng-template #logout class="d-flex ">
        <div class="chat d-inline">
          <mat-icon matBadge="15" matBadgeColor="warn">chat</mat-icon> -->
<!-- Include text description of the icon's meaning for screen-readers -->
<!-- <span class="cdk-visually-hidden">
            Example with a home icon with overlaid badge showing the number 15
          </span>
        </div>
        <a mat-button mat-raised-button routerLink="/signup" routerLinkActive="active" class="btn btn-outline-light" (click)="onLogout()">
          Log out
        </a>
      </ng-template>
    </div>
  </div>
</mat-toolbar> -->
<mat-toolbar color="secondary" class="sticky-top">
  <mat-toolbar-row class="d-flex justify-content-between">
    <div class="star-nav">
      <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="logo">Chattime</span>
      </button>
    </div>

    <div class="end-nav d-flex">
      <button *ngIf="isLoggedIn" mat-icon-button routerLink="/chat">
        <mat-icon>messages</mat-icon>
      </button>
      <div *ngIf="isLoggedIn; else notLogged">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item  (click)="onLogout()">Logout</button>
        </mat-menu>
        <!-- <button mat-button (click)="onLogout()">Logout</button> -->
      </div>
      <ng-template #notLogged>
        <div class="logSig">
          <button mat-button routerLink="/login" class="login mx-2 px-2">
            Login
          </button>
          <button mat-button routerLink="/signup" class="signup mx-2">
            Signup
          </button>
        </div>
      </ng-template>

      <!-- <ng-template>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
      </ng-template> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
